<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" name="name" type="text" id="name">
        <label class="mdl-textfield__label" for="name">Nome...</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" name="text" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="price">
        <label class="mdl-textfield__label" for="price">Preço...</label>
        <span class="mdl-textfield__error">Valor não é um número!</span>
      </div>

      <button type="submit" class="mdl-button mdl-js-button mdl-button--fab">
        <i class="material-icons">add</i>
      </button>

    </form>

    {{#each model as |product|}}
      <p>{{product.name}}</p>
    {{/each}}
  </div>
</div>
